<%- include("partials/header") %>
    <section class="events_sec1">
        <div class="container-fluid row">
            <h6 class="filter">FILTERS</h6>
            <div class="col filter">
                <div class="col-12">DATE</div>
                <div class="col-12">CATEGORY</div>
                <div class="col-12">PRICE</div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2 event-card">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 event-card">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 event-card">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/footer") %>