<%- include("partials/header") %>
    <section class="events_sec1">
        <div class="container-fluid row filter-key">
            <h6 class="filter" id="fil">FILTERS</h6>
            <div class="col filter">
                <div class="col-12 keys">
                    <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        DATE
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                        <form class="form-control" action="/filter-date" method="post">
                            <input type="date" class="form-control" name="start-date"> <br/> To  <br/><br/>  <input type="date" class="form-control" name="start-date">
                        </form>
                        </li>
                      </ul>
                </div>
                <div class="col-12 keys"><button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        CATEGORY
                    </button></div>
                <div class="col-12 keys"><button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PRICE
                    </button></div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2 event-card">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-heading"></p>
                                <p class="card-price"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 event-card">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 event-card">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/footer") %>