<%- include('partials/header') %>

    <section class="section1 container-fluid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/images/img2.jpg" class="d-block w-100 mainImg" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="Tagline" id="ln" autofocus="true" onfocus="true">
                        <h3 class="TgLnAbove">A land of <h1 class="TglnBelow">Festivals</h1></h3>
                        
                        <div class="row">
                            <div class="login-buttons1 col"><button class="btn btn-outline-light but" onclick="Signup()" >Sign Up</button></div>
                            <div class="login-buttons2 col"><button  class="btn btn-light but" onclick="logger()" >Login</button></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/img1.jpg" class="d-block w-100 mainImg" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="Tagline" id="ln"  autofocus="true" onfocus="true" >
                        <h3 class="TgLnAbove1">India's culture is marked by vibrant festivals<br> that reflect its spiritual richness and<br> communal harmony.<br></h3>
                        <div class="row btns">
                            <div class="login-buttons1 col"><button class="btn btn-outline-light but" onclick="redirectSignup()" >Sign Up</button>
                            </div>
                            <div class="login-buttons2 col"><button  class="btn btn-light but" onclick="redirectlogger()" >Login</button></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/images/img3.jpg" class="d-block w-100 mainImg" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="Tagline"  autofocus="true" onfocus="true">
                            <h3 class="TgLnAbove1">India's culture is marked by vibrant festivals<br> that reflect its spiritual richness and<br> communal harmony.<br></h3>
                            <div class="row btns">
                                <div class="login-buttons1 col"><button class="btn btn-outline-light but" onclick="redirectSignup()" >Sign Up</button></div>
                                <div class="login-buttons2 col"><button  class="btn btn-light but" onclick="redirectlogger()" >Login</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="section2 container-fluid">
        <div class="container-fluid row">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </section>

    <%- include('partials/footer') %>