<%- include ("partials/header") %>
    <%- include ("partials/nav") %>
        <section class="msec1 container-fluid">
            <img src="/images/img4.jpg" class="banner img-fluid" alt="banner" />
            <div class="container-fluid maha" onfocus="true">Mahārāṣṭra</div>
        </section>
        <section class="msec2">
            <div class="row">
                <p class="mahapara">
                    Maharashtra's festivals showcase its rich cultural heritage, blending religious, cultural, and<br/>
                    social celebrations. Key festivals include Ganesh Chaturthi, celebrated with grand idol immersions;<br/>
                    Diwali, marked by lights and sweets; and Gudi Padwa, the Marathi New Year with its own rituals.<br/>
                    Makar Sankranti features kite flying, while Holi is celebrated with vibrant colors. Dahi Handi<br/>
                    during Janmashtami involves breaking curd pots with human pyramids. Rural festivals like Pola honor<br/>
                    farmers and Narali Purnima marks the fishing season. The Pandharpur Wari pilgrimage reflects deep<br/>
                    devotion. These festivals, whether urban or rural, highlight Maharashtra’s unity, diversity, and<br/>
                    vibrant spirit
                </p>
            </div>
        </section>

        <%- include ("partials/header") %>